nodered/flows.json
[
    {
        "id": "75a0802cafec364d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "555b57a316896058",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "71452e6a2131cdc6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#940505",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#940505",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#940505",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#de0808",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#940505",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "security_db",
        "type": "sqlitedb",
        "db": "/Users/maramariano/.node-red/security.db",
        "mode": "RWC"
    },
    {
        "id": "6dc10ac1d10afbe3",
        "type": "ui_tab",
        "name": "Log & Grafici",
        "icon": "show_chart",
        "order": 2
    },
    {
        "id": "9dc58b3e2fe5aaec",
        "type": "ui_tab",
        "name": "Security Hub",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "34461087d74ea24f",
        "type": "telegram bot",
        "botname": "smart_home_security_iot_bot",
        "usernames": "6062141831",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "97b852d6b07e7b1d",
        "type": "ui_group",
        "name": "Registro Storico",
        "tab": "6dc10ac1d10afbe3",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "107e4c7cccb1381e",
        "type": "ui_group",
        "name": "Pannello Comandi",
        "tab": "9dc58b3e2fe5aaec",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbc1887405f03dfd",
        "type": "ui_group",
        "name": "Telemetria",
        "tab": "9dc58b3e2fe5aaec",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf2b8ec2e741bfef",
        "type": "ui_group",
        "name": "Criticità e Sensori",
        "tab": "6dc10ac1d10afbe3",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "301a06f0c7c19d41",
        "type": "ui_group",
        "name": "Calibrazione",
        "tab": "9dc58b3e2fe5aaec",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f056c1e4cd611e29",
        "type": "ui_group",
        "name": "Gestione Tenda",
        "tab": "9dc58b3e2fe5aaec",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d72aed64caac9e36",
        "type": "ui_group",
        "name": "Statistiche Modalità",
        "tab": "6dc10ac1d10afbe3",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab_robotica",
        "type": "ui_tab",
        "name": "Mano Robotica",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "gruppo_controlli",
        "type": "ui_group",
        "name": "Controllo Dita",
        "tab": "tab_robotica",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gruppo_macro",
        "type": "ui_group",
        "name": "Azioni Rapide",
        "tab": "tab_robotica",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gruppo_diagnostica",
        "type": "ui_group",
        "name": "Diagnostica di Sistema",
        "tab": "tab_robotica",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gruppo_visualizzazione",
        "type": "ui_group",
        "name": "Gemello Digitale (Real-Time)",
        "tab": "tab_robotica",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2957f527c5d4c6c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "4ef131e37c5fb2f8",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3d01a8294ba22d2a",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "f2957f527c5d4c6c",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "4ef131e37c5fb2f8",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ea62f2fca2b9a505",
        "type": "ui-group",
        "name": "Group 1",
        "page": "3d01a8294ba22d2a",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "mano_telemetria_group",
        "type": "ui_group",
        "name": "Telemetria Mano",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "switch_modalita",
        "type": "ui_switch",
        "z": "75a0802cafec364d",
        "name": "",
        "label": "Modalità Automatica (Webcam)",
        "tooltip": "",
        "group": "gruppo_controlli",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "modalita",
        "topicType": "str",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manuale",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "salva_modalita"
            ]
        ]
    },
    {
        "id": "salva_modalita",
        "type": "change",
        "z": "75a0802cafec364d",
        "name": "Salva in Memoria",
        "rules": [
            {
                "t": "set",
                "p": "modalita_corrente",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "slider_pollice",
        "type": "ui_slider",
        "z": "75a0802cafec364d",
        "name": "",
        "label": "Pollice",
        "tooltip": "",
        "group": "gruppo_controlli",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "pollice",
        "topicType": "str",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 760,
        "wires": [
            [
                "crea_stringa_manuale"
            ]
        ]
    },
    {
        "id": "slider_indice",
        "type": "ui_slider",
        "z": "75a0802cafec364d",
        "name": "",
        "label": "Indice",
        "tooltip": "",
        "group": "gruppo_controlli",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "indice",
        "topicType": "str",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 800,
        "wires": [
            [
                "crea_stringa_manuale"
            ]
        ]
    },
    {
        "id": "slider_medio",
        "type": "ui_slider",
        "z": "75a0802cafec364d",
        "name": "",
        "label": "Medio",
        "tooltip": "",
        "group": "gruppo_controlli",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "medio",
        "topicType": "str",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 840,
        "wires": [
            [
                "crea_stringa_manuale"
            ]
        ]
    },
    {
        "id": "slider_anulare",
        "type": "ui_slider",
        "z": "75a0802cafec364d",
        "name": "",
        "label": "Anulare",
        "tooltip": "",
        "group": "gruppo_controlli",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "anulare",
        "topicType": "str",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 880,
        "wires": [
            [
                "crea_stringa_manuale"
            ]
        ]
    },
    {
        "id": "slider_mignolo",
        "type": "ui_slider",
        "z": "75a0802cafec364d",
        "name": "",
        "label": "Mignolo",
        "tooltip": "",
        "group": "gruppo_controlli",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "mignolo",
        "topicType": "str",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 920,
        "wires": [
            [
                "crea_stringa_manuale"
            ]
        ]
    },
    {
        "id": "btn_pugno",
        "type": "ui_button",
        "z": "75a0802cafec364d",
        "name": "",
        "group": "gruppo_macro",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "✊ Chiudi Pugno",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "180,180,180,180,180",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 980,
        "wires": [
            [
                "mqtt_out_finale"
            ]
        ]
    },
    {
        "id": "crea_stringa_manuale",
        "type": "function",
        "z": "75a0802cafec364d",
        "name": "Raccogli Dita e Formatta",
        "func": "// Salva l'ultimo valore di ogni dito\nvar dita = context.get('dita') || {pollice:0, indice:0, medio:0, anulare:0, mignolo:0};\ndita[msg.topic] = msg.payload;\ncontext.set('dita', dita);\n\n// Controlla la modalità\nvar modalita = flow.get('modalita_corrente') || \"manuale\";\n\nif (modalita === \"manuale\") {\n    // Creiamo la stringa con i 5 angoli\n    msg.payload = dita.pollice + \",\" + dita.indice + \",\" + dita.medio + \",\" + dita.anulare + \",\" + dita.mignolo;\n    \n    // FORZIAMO IL TOPIC CORRETTO per MQTT!\n    msg.topic = \"robot/mano/motori\";\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 840,
        "wires": [
            [
                "mqtt_out_finale"
            ]
        ]
    },
    {
        "id": "mqtt_out_finale",
        "type": "mqtt out",
        "z": "75a0802cafec364d",
        "name": "Invia ad ESP32",
        "topic": "robot/mano/motori",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "555b57a316896058",
        "x": 980,
        "y": 1040,
        "wires": []
    },
    {
        "id": "da53d1b9beda324c",
        "type": "mqtt in",
        "z": "75a0802cafec364d",
        "name": "Ascolta Comandi per UI",
        "topic": "robot/mano/motori",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "555b57a316896058",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 860,
        "wires": [
            [
                "mano_grafica_ui_originale",
                "06fa590f2730375e"
            ]
        ]
    },
    {
        "id": "mano_grafica_ui_originale",
        "type": "ui_template",
        "z": "75a0802cafec364d",
        "group": "gruppo_visualizzazione",
        "name": "Mano Animata",
        "order": 1,
        "width": 6,
        "height": 6,
        "format": "<div style=\"display:flex; justify-content:center; align-items:center; width:100%; height:100%;\">\n    <svg width=\"200\" height=\"200\" viewBox=\"0 0 200 200\">\n        <line x1=\"45\" y1=\"130\" ng-attr-x2=\"{{tX}}\" ng-attr-y2=\"{{tY}}\" stroke=\"#fadcbc\" stroke-width=\"18\" stroke-linecap=\"round\"/>\n        <line x1=\"75\" y1=\"120\" x2=\"75\" ng-attr-y2=\"{{iY}}\" stroke=\"#fadcbc\" stroke-width=\"18\" stroke-linecap=\"round\"/>\n        <line x1=\"100\" y1=\"120\" x2=\"100\" ng-attr-y2=\"{{mY}}\" stroke=\"#fadcbc\" stroke-width=\"18\" stroke-linecap=\"round\"/>\n        <line x1=\"125\" y1=\"120\" x2=\"125\" ng-attr-y2=\"{{rY}}\" stroke=\"#fadcbc\" stroke-width=\"18\" stroke-linecap=\"round\"/>\n        <line x1=\"150\" y1=\"130\" ng-attr-x2=\"{{pX}}\" ng-attr-y2=\"{{pY}}\" stroke=\"#fadcbc\" stroke-width=\"18\" stroke-linecap=\"round\"/>\n        <path d=\"M 35,120 Q 30,190 60,200 L 140,200 Q 170,190 165,120 Z\" fill=\"#fadcbc\" stroke=\"none\"/>\n        <path d=\"M 35,120 Q 30,190 60,200 L 140,200 Q 170,190 165,120 Z\" fill=\"none\" stroke=\"#333\" stroke-width=\"2\"/>\n    </svg>\n</div>\n<script>\n    (function(scope) {\n        scope.tX = 20; scope.tY = 80;\n        scope.iY = 40; scope.mY = 30; scope.rY = 40;\n        scope.pX = 180; scope.pY = 70;\n        scope.$watch('msg.payload', function(data) {\n            if (typeof data === 'string') {\n                var a = data.split(',');\n                if (a.length === 5) {\n                    var v0 = parseInt(a[0]) / 180;\n                    var v1 = parseInt(a[1]) / 180;\n                    var v2 = parseInt(a[2]) / 180;\n                    var v3 = parseInt(a[3]) / 180;\n                    var v4 = parseInt(a[4]) / 180;\n                    scope.tX = 20 + (v0 * 25);\n                    scope.tY = 80 + (v0 * 50);\n                    scope.iY = 40 + (v1 * 80);\n                    scope.mY = 30 + (v2 * 90);\n                    scope.rY = 40 + (v3 * 80);\n                    scope.pX = 180 - (v4 * 30);\n                    scope.pY = 70 + (v4 * 60);\n                }\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "bd0dcd4e763026c2",
        "type": "ui_button",
        "z": "75a0802cafec364d",
        "name": "",
        "group": "gruppo_macro",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "🖐️Apri Pugno",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0,0,0,0,0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 1020,
        "wires": [
            [
                "mqtt_out_finale"
            ]
        ]
    },
    {
        "id": "0099399cc505ba4d",
        "type": "ui_button",
        "z": "75a0802cafec364d",
        "name": "",
        "group": "gruppo_macro",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "🖕",
        "tooltip": "",
        "color": "white",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "180,180,0,180,180",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1060,
        "wires": [
            [
                "mqtt_out_finale"
            ]
        ]
    },
    {
        "id": "b72b2305c2492342",
        "type": "ui_button",
        "z": "75a0802cafec364d",
        "name": "",
        "group": "gruppo_macro",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "✌️",
        "tooltip": "",
        "color": "white",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "180,0,0,180,180",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "mqtt_out_finale"
            ]
        ]
    },
    {
        "id": "7eaaece6747f6e84",
        "type": "ui_button",
        "z": "75a0802cafec364d",
        "name": "",
        "group": "gruppo_macro",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "🤟",
        "tooltip": "",
        "color": "white",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "0,0,180,180,0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "mqtt_out_finale"
            ]
        ]
    },
    {
        "id": "wifi_mqtt_in",
        "type": "mqtt in",
        "z": "75a0802cafec364d",
        "name": "Ricevi WiFi",
        "topic": "robot/mano/telemetria",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "555b57a316896058",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "wifi_chart",
                "wifi_gauge"
            ]
        ]
    },
    {
        "id": "wifi_chart",
        "type": "ui_chart",
        "z": "75a0802cafec364d",
        "name": "Storico Segnale",
        "group": "gruppo_diagnostica",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "Segnale WiFi (dBm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-100",
        "ymax": "0",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#9c9f0f",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "wifi_gauge",
        "type": "ui_gauge",
        "z": "75a0802cafec364d",
        "name": "Livello WiFi",
        "group": "gruppo_diagnostica",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "WiFi",
        "label": "dBm",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 1020,
        "wires": []
    },
    {
        "id": "06fa590f2730375e",
        "type": "function",
        "z": "75a0802cafec364d",
        "name": "Aggiorna Slider",
        "func": "// Separiamo la stringa in 5 numeri in base alla virgola\nvar angoli = msg.payload.split(\",\");\n\nif (angoli.length === 5) {\n    // Mandiamo ogni numero a una porta di uscita diversa\n    return [\n        { payload: parseInt(angoli[0]) }, // Uscita 1: Pollice\n        { payload: parseInt(angoli[1]) }, // Uscita 2: Indice\n        { payload: parseInt(angoli[2]) }, // Uscita 3: Medio\n        { payload: parseInt(angoli[3]) }, // Uscita 4: Anulare\n        { payload: parseInt(angoli[4]) }  // Uscita 5: Mignolo\n    ];\n}\nreturn null;",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "slider_pollice"
            ],
            [
                "slider_indice"
            ],
            [
                "slider_medio"
            ],
            [
                "slider_anulare"
            ],
            [
                "slider_mignolo"
            ]
        ]
    },
    {
        "id": "87d42acfc50d0d2e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-sqlite": "1.1.1",
            "node-red-contrib-telegrambot": "17.0.3",
            "@flowfuse/node-red-dashboard": "1.30.0"
        }
    }
]
